body {
  background-color: $bg-color;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .multi-step-form {
    display: flex;
    background-color: $color-white;
    border-radius: 16px;
    box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.1);
    padding: 16px;
    min-height: 60vh;
    width: 90vh;

    .side-bar {
      width: 274px;
      height: 568px;
      border-radius: 10px;
      background: url("./assets/bg-sidebar-desktop.svg") no-repeat center/cover;
      display: flex;
      flex-direction: column;
      padding-top: 40px;
      padding-left: 32px;
      gap: 32px;
      color: $color-white;
      .item {
        display: flex;
        align-items: center;
        gap: 16px;

        .item-number {
          border: 1px solid $color-white;
          width: 33px;
          height: 33px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 9999px;

          &.active {
            background-color: $color-sky-blue;
            color: $color-denim;
            border: none;
          }
        }

        .item-body {
          display: flex;
          flex-direction: column;
          gap: 4px;

          .subtitle {
            font-size: 12px;
            font-weight: 400;
            line-height: normal;
            font-style: normal;
            color: $color-light-blue;
            text-transform: uppercase;
          }

          .title {
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1px;
            text-transform: uppercase;
          }
        }
      }
    }

    .form-container {
      display: flex;

      .buttons {
        display: flex;

        .btn {
          &.active {
            margin-left: auto;
          }

          &.confirm {
            margin-left: auto;
          }
        }
      }

      form {
        padding: 20px 50px;
        .step1-form {
          display: flex;
          height: 90%;
          flex-direction: column;
          gap: 12px;

          .form-wrapper {
            display: flex;
            flex-direction: column;
            gap: 24px;
            .form-control {
              display: flex;
              flex-direction: column;
              gap: 8px;
              position: relative;

              input {
                height: 48px;
                border-radius: 8px;
                border: 1px solid $border-color;
                padding: 0 16px;
              }

              .error-message {
                color: $color-red-errors;
                position: absolute;
                right: 0;
                font-size: 14px;
                font-weight: 700;
                font-style: normal;
                line-height: normal;
              }
            }
          }
        }

        .step2-form {
          display: flex;
          height: 90%;
          flex-direction: column;
          gap: 12px;
          .radio-group {
            margin-top: 35px;
            display: flex;
            gap: 18px;
            label {
              border: 1px solid $border-color;
              flex: 1;
              height: 160px;
              border-radius: 8px;
              display: flex;
              flex-direction: column;
              padding: 16px;

              .info {
                margin-top: auto;

                .select-title {
                  color: $color-denim;
                  font-size: 16px;
                  font-weight: 500;
                  margin-bottom: 7px;
                }

                .select-price {
                  color: $color-gray;
                  font-size: 14px;
                  font-weight: 400;
                }
              }

              &.selected {
                border: 1px solid $color-purple;
                background-color: $very-light-gray;
              }
              input {
                display: none;
              }
            }
          }

          .switch-box {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 48px;
            background-color: $very-light-gray;
            gap: 24px;
            margin-top: 32px;

            .switch-price {
              color: $color-gray;
              font-weight: 500;
              font-size: 14px;

              &.active {
                color: $color-denim;
              }
            }
          }
        }

        .step3-form {
          height: 90%;
          display: flex;
          flex-direction: column;
          gap: 12px;
          .checkbox-group {
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin-top: 28px;

            .checkbox-label {
              width: 100%;
              height: 81px;
              border: 1px solid $border-color;
              border-radius: 8px;
              display: flex;
              align-items: center;
              gap: 24px;
              padding: 24px 12px;

              &.active {
                border: 1px solid $color-purple;
                background-color: $very-light-gray;
              }

              .checkbox-text {
                display: flex;
                flex-direction: column;
                gap: 7px;
                .checkbox-title {
                  font-size: 16px;
                  font-weight: 500;
                  color: $color-denim;
                }
                .checkbox-info {
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 20px;
                  color: $color-gray;
                }
              }

              .price {
                margin-left: auto;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                color: $color-purple;
              }
            }
          }
        }

        .step4-form {
          height: 90%;
          display: flex;
          flex-direction: column;
          gap: 12px;

          .control-panel {
            background-color: $very-light-gray;
            padding: 24px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin-bottom: 25px;

            .control-item {
              display: flex;
              justify-content: space-between;

              .control-price {
                color: $color-denim;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
              }

              .control-price-picked {
                color: $color-denim;
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
              }

              .control-item-name {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 7px;

                h4 {
                  color: $color-gray;
                  font-weight: 400;
                  line-height: 20px;
                }

                .change {
                  color: $color-gray;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 20px;
                  text-decoration-line: underline;
                  cursor: pointer;
                }

                .picked {
                  color: $color-denim;
                  font-size: 16px;
                  font-weight: 500;
                }
              }

              &:first-child {
                padding-bottom: 24px;
                border-bottom: 1px solid rgba(150, 153, 170, 0.3);
              }
            }
          }

          .total-amount {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .total {
              font-size: 14px;
              font-weight: 400;
              line-height: 20px;
              color: $color-gray;
            }

            .total-price {
              color: $color-purple;
              font-size: 20px;
              font-weight: 700;
              line-height: 20px;
            }
          }
        }

        .buttons {
          margin-top: auto;
        }
      }
    }
  }
}
